.container {
  min-height: 100vh;
  min-width: 0vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 0.2fr 1.7fr 0.1fr;
  gap: 0.5% 0.5%;
  grid-auto-flow: row;
  grid-template-areas: 'header header' 'userList users';
  overflow-x: hidden;
}

.header {
  grid-area: header;
  background-color: aquamarine;
}

.users {
  grid-area: users;
  max-width: 95%;
}

.userList {
  grid-area: userList;

  overflow-y: scroll;
}

/* all the css related to AdminBoard.js 
.cardContent {
  
}*/
.mainCard {
  max-height: 50% !important;
}
.user-skills {
  color: black;
}
.user-interest {
  color: gray;
  font-size: 80% !important;
}
.user-name {
  color: #ff0000;
}
.addUser {
  background-color: #ff0000 !important;
  font-weight: bold !important;
  text-decoration: none;
  color: black !important;
}
